body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: red;
}

button {
    margin: 10px;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ccc;
}

#contador {
    background-color: red;
    border: 2px solid black;
    padding: 10px;
}
